.flexItems{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.flexInputItems{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.flexItems .buttonItems {
    display: flex;
    flex-direction: column;
    max-height: 450px;
    overflow-y: auto;
    border: 1px solid black;
    padding: 10px;
}
/* width */
.flexItems .buttonItems::-webkit-scrollbar {
    width: 8px;
}
  
  /* Handle */
.flexItems .buttonItems::-webkit-scrollbar-thumb {
    background: #D1D3DE;
    border-radius: 50px;
    height: 37px;
}
  
  /* Handle on hover */
.flexItems .buttonItems::-webkit-scrollbar-thumb:hover {
    background: #34455E;
}



.loading{
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #c3bdbd;
}
.header a{
   text-decoration: unset;     
}

.optionCanvas {
    height: 80vh;
    margin-top:80px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}